<article>
  <section>
    <h1>New Article</h1>
    <%= render 'form' %>
    <div class="left_button_wrapper">
      <%= link_to 'Back', articles_path, class: "gray_button" %>
    </div>
  </section>
</article>

