<div>
  <%= link_to open_all_notifications_path_for(@target), method: :post, remote: true do %>
    <div id="notifications_count"><%= @target.unopened_notifications_count %></div>
  <% end %>

  <div id="notifications_index">
    <%= yield :notifications_index %>
  </div>
</div>
