<div>
  <%= link_to open_all_notifications_path_for(@target), method: :post, remote: true do %>
    <div id="notification_count"><%= @target.unopened_notification_count %></div>
  <% end %>

  <div id="notification_index">
    <%= yield :notification_index %>
  </div>
</div>
