<div class="notification_wrapper">
  <%= link_to open_all_notifications_path_for(@target), method: :post, remote: true, class: "dropdown_notification" do %>
    <p><span id="partial_notification_count"><span class="<%= 'unopened' if @target.has_unopened_notifications? %>"><%= @target.unopened_notification_count %></span></span></p>
  <% end %>
  <div class="notification_list_wrapper">
    <%= yield :notification_index %>
  </div>
</div>

<style>
  .notification_wrapper {
    margin-left: 20px;
    margin-right: 10px;
    float: left;
    position: relative;
  }
  .notification_wrapper .dropdown_notification{
    cursor: pointer;
  }
  .notification_wrapper .dropdown_notification p span span{
    color: #fff;
    background-color: #e5e5e5;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
  }
  .notification_wrapper .dropdown_notification p span span.unopened{
    background-color: #f87880;
  }
  .notification_wrapper.open .notification_list_wrapper {
    display: block;
  }
  .notification_wrapper .notification_list_wrapper {
    display: none;
    z-index: 999;
    width: 330px;
    height: 500px;
    overflow: scroll;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: calc(100% + 20px);
    right: -10px;
    background-color: #fff;
  }
</style>

<script>
  $(document).click(function(e){
      if( !$(e.target).is(".notification_list_wrapper") ){
        if($(".notification_wrapper").hasClass("open") && !$(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").addClass("opened");
        }else if($(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").removeClass("open").removeClass("opened");
        }
      }
  });

  $(".dropdown_notification").click(function(){
    $(this).parent().toggleClass("open");
  });
</script>